<section>
    <h2 class="header"><mat-icon style="color: red;">domain</mat-icon>Companies Listed here!! Choose 
        <mat-icon style="color: red;"> bubble_chart</mat-icon> Where you have to be!!!
    </h2>
    <div class="list">
    <mat-card>
    <table class="companies-list">
       
        <tr>
            <th>Companies</th>
            <th>Link to visit</th>
        </tr>
        <tr>
            <td>aaaa</td>
            <td>bbbb</td>
        </tr>
        <tr>
            <td>aaaa</td>
            <td>bbbb</td>
        </tr><tr>
            <td>aaaa</td>
            <td>bbbb</td>
        </tr><tr>
            <td>aaaa</td>
            <td>bbbb</td>
        </tr>
    
    </table>
    </mat-card>
    </div>
    </section>
    