.spacer
{
    flex:1 1 auto;
}
#createButton
{
   margin-left: 5% ;
    background-color: aqua;
}
#title
{
    outline: none;
    font-family: arial, sans-serif;
    cursor: pointer;
    color: rgb(51, 9, 202);
}