<section>
    <span *ngIf="displayStatus()">{{statusOfPost}}</span>
    <div>
        <input type="file" id="file" (change)="uploadImage($event)">
        <br>
        <div [hidden]='!uploadImagePercent'>
    <mat-progress-bar mode="determinate" value='{{uploadImagePercent | async }}'>{{uploadImagePercent | async}}</mat-progress-bar>
    <p>{{uploadImagePercent | async}} % uploaded</p>
        </div>
        
    </div>
    <br>
    <div [hidden]=!image>
        <img src="{{image}}" alt="img to be attached ">
    </div>
<form [formGroup]="merchantForm">
<mat-form-field>
    <input matInput placeholder="Enter Title" formControlName="title">
    <mat-error *ngIf='checkError("Title")'>Title should be >10</mat-error>
</mat-form-field>
<br>
<mat-form-field>
    <textarea matInput placeholder="Enter Content" formControlName="content" rows="15"></textarea>
    <mat-error *ngIf='checkError("Content")'>Content length should be >100 </mat-error>
</mat-form-field><br>
<button mat-raised-button color="accent" routerLink="/blog" (click)="createPost()" [disabled]="!isValid()"> Create Post</button>
</form>
</section>