mat-card,.comment
{
    margin:10px auto;
    max-width: 700px;
    padding: 3%;
}
.commentChats
{
    padding-left:2% ;
    font: 1em sans-serif;
    margin:10px auto;
    max-width: 700px;
}
mat-form-field
{
    width:100%;
    margin-bottom:1em;
}
.companyImage{
    width: 100%;
    padding-bottom:10px ;
}
.visibleIcon
{
    cursor: pointer;
    transform: scale(70%);
}
.commenterName
{
    font-weight: 600;
}
.shareIcon
{
    margin-right: 0%;
    float: right;
    margin-top: 2px;
    color: white;
    border:rgb(1, 161, 23)  3px solid;
    cursor: pointer;
    border-radius: 3px;
    background-color:rgb(43, 255, 0) ;
}

