section{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: auto;
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 85%;
}
mat-card
{
    margin:10px 0;
    max-width: 500px;
}
img{
    height:200px;
    width: 100%;
}
.visibleIcon
{

    transform: scale(60%);
}
mat-paginator
{
    margin:auto;
    max-width: 400px;
}